.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
     flex-wrap: wrap;  
    padding: 20px;
    background-color: #FCFAF8;
    min-height: 70px;
    width: 100%;
    box-sizing: border-box; 
    gap: 20px; 
}

.footer p {
    margin: 0; 
}


/* Specific override for login page */
.login-component .footer {
    flex-wrap: nowrap !important; /* Remove wrapping specifically for login page */
}