
<div class="grid-container">
    <div class="container">
    <h2>Your cart</h2>
  
    <div *ngIf="shoppingCart.length > 0; else emptyCart">
      <div class="cart-item" *ngFor="let item of shoppingCart">
        <div class="cart-item-image">
          <a [routerLink]="['/shopping-cart', item.productId]">
            <img [src]="'assets/image/' + item.imageUrl + '.webp'" class="card-img-top" alt="{{ item.productName }}"
            onerror="this.src='assets/default-image.jpg'">        </a>
        </div>
  
        <div class="cart-item-details">
          <h3>{{ item.productName }}</h3>
          <p>{{ sizeMap[item.size] }}/ {{ item.color }}</p>
          <p class="price">{{ item.price }} kr</p>
        </div>
  
        <div class="cart-item-quantity">
            <button (click)="decreaseQuantity(item.productId, item.size)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="increaseQuantity(item.productId, item.size)">+</button>
          </div>
  
        <div class="cart-item-price">
          <p>{{ item.price * item.quantity }} kr</p>
        </div>
  
        <div class="cart-item-remove">
            <button (click)="deleteCartItem(item.productId, item.size)">Remove</button>
        </div>
      </div>
    </div>
  

</div>


<ng-template #emptyCart>
    <p>Your shopping cart is empty.</p>
  </ng-template>


