<!-- <p>shopping-cart works!</p>
<div class="grid-container">
    <div>
        <div class="title">Cart</div>
        <div>
            Photo
        </div>
        <div>
            <div>
             Namn på produkten
            </div>
            <div>
                Kostnad
            </div>
            <div>
                storlek
            </div>
        </div>
        <div> Increase och decrease</div>
        <div> Ta bort knapp</div>
        <div> Total summa</div>


        <div>
            
        </div>
        <p>shopping-cart works!</p>

    </div>
    <div>
        2
        <p>shopping-cart works!</p>

    </div>
</div> -->
