
  .container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
  
  }
  
  .grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px 20px 20px; 
    color: #696969;
    background-color: #FCFAF8;
    width: 100%;

  }
  

  .cart-content {
    display: flex;
    width: 95%; 
    max-width: 1200px; 
    gap: 35px;
  }

  .right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }
  
  
  .left-side {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  
  .right-side {
    flex: 1;
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    height: 100%;
  }

  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  

  .cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid #696969;
  }
  
  .cart-item-image img {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }
  
  .cart-item-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    padding-left: 40px; 
  }
  
  .cart-item-details h3 {
    font-size: 18px;
    margin: 0;
  }
  
  .cart-item-details p {
    font-size: 14px;
    color: #555;
  }

  .size-and-color{
    margin: 5px 0px;

  }
  
  .price {
    /* font-weight: bold; */
    /* color: #000; */
    margin: 0px;

  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    background-color: #f4ede6;
    border-radius: 8px; 
    margin: 0 30px;
  }
  
  .cart-item-quantity button {
    background-color: #f4ede6;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cart-item-quantity span {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .cart-item-price {
    font-size: 16px;
    /* font-weight: bold; */
    margin: 0 30px;
  }

  .cart-item-price p {
    margin: 0px;
  }
  
  .cart-item-remove button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position:relative;
    bottom: 60px;
    left: 5px; 
  }
  

  .checkout-button{
    background-color: #3e3e3e;
    color: white;
    border: 1px;
    height: 30px;
    width: 100%;
  }