

<!-- <div *ngFor="let product of products">
    <p>{{product.productName}}</p>

</div> -->



<div class="container-fluid">
    <div class="grid-container">
        <div class="grid-item">
            <ul *ngFor="let category of productCategories;let i = index" class="nav flex-column">
                <li *ngIf="i < 1 " class="nav-item">
                  <a (click)="filterProductByCategory('All')" class="nav-link link-dark" style="cursor: pointer;">All</a>
                </li>

                <li class="nav-item">
                  <a (click)="filterProductByCategory(category)" class="nav-link link-dark" style="cursor: pointer;">{{category.name}}</a>
                </li>
              </ul>
        </div>
        <div class="grid-item">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let product of filteredData" class="col">
                  <div class="card">
                    <a href="product-details\{{ product.productId }}">
                      <img src="./assets/{{ product.images[0].url }}.webp" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                      <h5 class="card-title">{{ product.productName }}</h5>
                      <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            Empty
        </div>  
      </div>
</div>


