.buy-button{
  height: 48px;
  width: 100%;
  color:white;
  border: 1px solid #3e3e3e;
  background-color: #3e3e3e;
  font-size: 16px;
}

.container{
  padding: 60px 0 0 0;
}

#dropdownMenuButton1{
  height: 48px;
  width: 100%;
  border: 1px solid rgba(210, 210, 210, 0.8)
  !important;
}

.dropdown{
  padding-bottom: 20px ;

}

.grid-container {
    display: grid;
    grid-template-columns: 150px 546px 380px;
    gap: 10px;
    /* background-color: #2196F3; */
  }
  
  .grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .sidebar-img{
    width: 90px;
    padding: 10px 0;
  }

  .image-middle{
    width: 400px;
  }

 
.product-name{
 font-size: 30px;
 
}

  .product-price{
    font-size: 20px;
  }