<div class="grid-container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
            <div class="two-column">
                <div>
                    <input type="text" class="input-field" placeholder="First Name" formControlName="firstName" />
                
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('firstName')?.invalid && createAccountForm.get('firstName')?.touched">
                            First name is required.
                        </small>
                    </div>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Last Name" formControlName="lastName" />
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('lastName')?.invalid && createAccountForm.get('lastName')?.touched">
                            Last name is required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="one-column">
                <input type="email" class="input-field" placeholder="Email" formControlName="email" />
                <div class="error-container">
                    <small *ngIf="createAccountForm.get('email')?.invalid && createAccountForm.get('email')?.touched">
                        Enter a valid email address.
                    </small>
                </div>
            </div>

            <div class="one-column">
                <input type="text" class="input-field" placeholder="Phone Number" formControlName="phoneNumber" />
                <div class="error-container">
                    <small *ngIf="createAccountForm.get('phoneNumber')?.invalid && createAccountForm.get('phoneNumber')?.touched">
                        Phone number is required.
                    </small>
                </div>
            </div>

            <div class="one-column">
                
            <input type="password" class="input-field" placeholder="Password" formControlName="password" />
            <div class="error-container">
                <small *ngIf="createAccountForm.get('password')?.invalid && createAccountForm.get('password')?.touched">
                    Password must be at least 6 characters.
                </small>
            </div>
            </div>


            <div class="two-column">
                <div>
                    <input type="text" class="input-field" placeholder="Country" formControlName="country" />
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('country')?.invalid && createAccountForm.get('country')?.touched">
                            Country is required.
                        </small>
                    </div>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="City" formControlName="city" />
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('city')?.invalid && createAccountForm.get('city')?.touched">
                            City is required.
                        </small>
                    </div>
                </div>
            </div>

            <div class="two-column">
                <div>
                    <input type="text" class="input-field" placeholder="Post Number" formControlName="postNumber" />
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('postNumber')?.invalid && createAccountForm.get('postNumber')?.touched">
                            Post number is required.
                        </small>
                    </div>
                </div>
                <div>
                    <input type="text" class="input-field" placeholder="Street Address" formControlName="streetAddress" />
                    <div class="error-container">
                        <small *ngIf="createAccountForm.get('streetAddress')?.invalid && createAccountForm.get('streetAddress')?.touched">
                            Street address is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid-create-button">
                <button class="create-button" type="submit" [disabled]="createAccountForm.invalid">
                    Create
                </button>
            </div>
    
        </form>
    </div>
</div>

