.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error-container {
    min-height: 24px;
}

.error-container small {
    color: red;
    font-size: 12px;
    display: block;
}

.grid-create-button{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.create-button{
    width: 100%;
    margin: 2px 10px ; 
    height:42px;
    border-color: none;
    background-color: #313131;
    color:white;
    cursor: pointer;

}

.grid-container{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px 20px 20px 20px; 
    color: #696969;
    background-color: #FCFAF8;

}



.form-container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    /* background: #f9f9f9; */
    padding: 20px;
    /* padding-top: 50px; */
    border-radius: 8px;
    width: 500px; 
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    color: black; 
    outline: none; 
}

.one-column{
    padding:0px 10px;

}

.two-column {
    display: flex;
    gap: 16px;
    padding:0px 10px;
}

.two-column div {
    flex: 1;
}

.title{
    text-align: center;
    font-size: 25px;

}