<div class="grid-container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
            <div class="two-column">
                <div>
                    <label>First Name</label>
                    <input type="text" class="input-field" formControlName="firstName" />
                </div>
                <div>
                    <label>Last Name</label>
                    <input type="text" class="input-field" formControlName="lastName" />
                </div>
            </div>

            <label>Email</label>
            <input type="email" class="input-field" formControlName="email" />

            <label>Phone Number</label>
            <input type="text" class="input-field" formControlName="phoneNumber" />

            <label>Password</label>
            <input type="password" class="input-field" formControlName="password" />

            <div class="two-column">
                <div>
                    <label>Country</label>
                    <input type="text" class="input-field" formControlName="country" />
                </div>
                <div>
                    <label>City</label>
                    <input type="text" class="input-field" formControlName="city" />
                </div>
            </div>

            <div class="two-column">
                <div>
                    <label>Post Number</label>
                    <input type="text" class="input-field" formControlName="postNumber" />
                </div>
                <div>
                    <label>Street Address</label>
                    <input type="text" class="input-field" formControlName="streetAddress" />
                </div>
            </div>

            <button class="create-button" type="submit" [disabled]="createAccountForm.invalid">
                Create Account
            </button>
        </form>
    </div>
</div>


<!-- <div class="grid-container">
    <div class="form-container">
        <div class="title">Create Account</div>

        <div class="two-column">
            <div>
                <label>First Name</label>
                <input type="text" class="input-field" />
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" class="input-field" />
            </div>
        </div>

        <label>Email</label>
        <input type="email" class="input-field" />

        <label>Phone Number</label>
        <input type="text" class="input-field" />

        <label>Password</label>
        <input type="password" class="input-field" />

        <div class="two-column">
            <div>
                <label>Country</label>
                <input type="text" class="input-field" />
            </div>
            <div>
                <label>City</label>
                <input type="text" class="input-field" />
            </div>
        </div>

        <div class="two-column">
            <div>
                <label>Post Number</label>
                <input type="text" class="input-field" />
            </div>
            <div>
                <label>Street Address</label>
                <input type="text" class="input-field" />
            </div>
        </div>
        <button class="create-button">
            Create Account
        </button>
    </div>
</div> -->
